openapi: 3.1.0
info:
  title: Домовой — API приложения дома в MAX
  version: 1.0.0
  description: 'API мини-приложения и бота MAX «Домовой»: вход по QR-коду квитанции, обращения в УК, начисления,
    счётчики, лента и опросы дома, раздел председателя, кабинет УК, подбор дома.


    **Как войти для проверки.** Без квитанции и без MAX — ролью демо-дома: `POST /api/demo/roles/{key}/take` (key:
    chairman, owner12, member12, owner45, owner78, newcomer30) вернёт `token`; дальше заголовок `Authorization:
    Bearer <token>`. Кабинет УК — `POST /api/dispatcher/login` с логином демо-УК (пароль — на служебном слайде презентации),
    тоже `token`.


    **Ошибки** — JSON `{ "error": "код", "message": "текст для человека" }`.


    **Модель доступа.** Квитанция — заявка, а не пропуск: новая квартира приходит со статусом `pending`. Уровень
    0 (pending) — свои начисления, счётчики и обращения в УК сразу. Уровень 1 (active) — соседи, лента, опросы.
    Уровень 2 — дом целиком, только председателю. Обращение удалить нельзя.


    Кабинет оператора (`/api/admin/*`) — внутренний и здесь не описан.'
servers:
- url: https://domovoy.devcore.com.ru
  description: Бой
- url: http://localhost:3000
  description: Локальный запуск (docker compose)
tags:
- name: Служебное
- name: Вход
- name: Житель
- name: Обращения
- name: Дом
- name: Уведомления
- name: Председатель
- name: Кабинет УК
- name: Подбор дома
- name: Бот MAX
security:
- bearerAuth: []
- cookieAuth: []
paths:
  /api/address/houses:
    get:
      tags:
      - Вход
      summary: Дома улицы
      description: Список домов выбранной улицы из ГАР.
      operationId: get_api_address_houses
      parameters:
      - name: street
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  houses:
                    type: array
                    items:
                      type: object
                      properties:
                        houseKey:
                          type:
                          - string
                          - 'null'
                        number:
                          type: string
                        address:
                          type:
                          - string
                          - 'null'
                      required:
                      - houseKey
                      - number
                      - address
                required:
                - houses
        '400':
          description: Неверные данные запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
  /api/address/streets:
    get:
      tags:
      - Вход
      summary: Подсказка улиц
      description: Поиск улицы по справочнику ГАР — для квитанции без адреса.
      operationId: get_api_address_streets
      parameters:
      - name: region
        in: query
        required: false
        schema:
          type: string
      - name: q
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  streets:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type:
                          - string
                          - 'null'
                        name:
                          type:
                          - string
                          - 'null'
                        socr:
                          type:
                          - string
                          - 'null'
                        placeName:
                          type:
                          - string
                          - 'null'
                        placeSocr:
                          type:
                          - string
                          - 'null'
                        postalCode: {}
                        label:
                          type:
                          - string
                          - 'null'
                      required:
                      - code
                      - name
                      - socr
                      - placeName
                      - placeSocr
                      - postalCode
                      - label
                required:
                - streets
        '409':
          description: Конфликт состояния
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
  /api/assistant:
    post:
      tags:
      - Обращения
      summary: Спросить Домового
      description: 'Помощник в приложении: тот же разговор, что у бота MAX. GigaChat пишет ответ сам, но данные
        жителя получает только инструментами с правами приложения; суммы, номера, телефоны и даты в ответе сверяет
        код. Жалобу кладёт черновиком — отправляет житель из формы.'
      operationId: post_api_assistant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type:
                  - string
                  - 'null'
              required:
              - text
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  replies:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type:
                          - string
                          - 'null'
                        buttons:
                          type: array
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type:
                                  - string
                                  - 'null'
                                text:
                                  type:
                                  - string
                                  - 'null'
                                webApp:
                                  type:
                                  - string
                                  - 'null'
                                payload:
                                  type:
                                  - string
                                  - 'null'
                              required:
                              - type
                              - text
                        mood:
                          type:
                          - string
                          - 'null'
                        open:
                          description: Экран, который приложение открывает само (payload как у кнопки open_app, например s_meters)
                          type: string
                        ai:
                          description: Ответ написала модель — приложение показывает под ним пометку «Ответ сгенерирован ИИ»
                          type: boolean
                      required:
                      - text
                required:
                - replies
        '400':
          description: Неверные данные запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Нужен вход
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/auth/logout:
    post:
      tags:
      - Вход
      summary: Выход
      description: Гасит сессию и cookie.
      operationId: post_api_auth_logout
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                - status
      security: []
  /api/auth/max:
    post:
      tags:
      - Вход
      summary: Вход через MAX
      description: 'По подписи initData MAX. Если у аккаунта MAX ещё нет квартиры — needs_receipt: нужно отсканировать
        квитанцию.'
      operationId: post_api_auth_max
      parameters:
      - $ref: '#/components/parameters/MaxInitData'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                initData:
                  type:
                  - string
                  - 'null'
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  name:
                    type:
                    - string
                    - 'null'
                  startParam: {}
                  token:
                    type: string
                required:
                - status
        '401':
          description: Нужен вход
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
  /api/auth/phone:
    post:
      tags:
      - Вход
      summary: Сохранить телефон из MAX
      description: Телефон, полученный через requestContact MAX, с проверкой подписи.
      operationId: post_api_auth_phone
      parameters:
      - $ref: '#/components/parameters/MaxInitData'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type:
                  - string
                  - 'null'
                authDate:
                  type:
                  - string
                  - 'null'
                hash:
                  type:
                  - string
                  - 'null'
              required:
              - phone
              - authDate
              - hash
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  phone:
                    type:
                    - string
                    - 'null'
                required:
                - status
                - phone
        '400':
          description: Неверные данные запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/auth/qr:
    post:
      tags:
      - Вход
      summary: Вход по QR-коду квитанции
      description: Строка QR (ГОСТ Р 56042) → житель и квартира. Любая новая привязка — со статусом pending (ждёт
        подтверждения председателя). В MAX передаётся заголовок X-Max-Init-Data, в браузере — без него (если включён
        вход из браузера). Возвращает токен сессии и ставит cookie.
      operationId: post_api_auth_qr
      parameters:
      - $ref: '#/components/parameters/MaxInitData'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                qr:
                  type:
                  - string
                  - 'null'
                address:
                  type: object
                  properties:
                    houseKey:
                      type:
                      - string
                      - 'null'
                    flat:
                      type:
                      - string
                      - 'null'
                    streetCode:
                      type:
                      - string
                      - 'null'
                    house:
                      type:
                      - string
                      - 'null'
                    block:
                      type:
                      - string
                      - 'null'
                    building:
                      type:
                      - string
                      - 'null'
                name:
                  type:
                  - string
                  - 'null'
                declaredPrivate:
                  type:
                  - boolean
                  - 'null'
              required:
              - qr
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  token:
                    type: string
                  firstTime:
                    type:
                    - boolean
                    - 'null'
                  role:
                    type:
                    - string
                    - 'null'
                  address:
                    type:
                    - string
                    - 'null'
                  persAcc:
                    type:
                    - string
                    - 'null'
                  uk:
                    type:
                    - string
                    - 'null'
                  period:
                    type:
                    - string
                    - 'null'
                  sum:
                    type:
                    - string
                    - 'null'
                required:
                - status
                - token
                - firstTime
                - role
                - address
                - persAcc
                - uk
                - period
                - sum
        '202':
          description: Ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  token:
                    type: string
                  bindingId:
                    type:
                    - string
                    - 'null'
                  claimComplete:
                    type:
                    - boolean
                    - 'null'
                  hasChairman:
                    type:
                    - boolean
                    - 'null'
                  flat:
                    type:
                    - string
                    - 'null'
                  message:
                    type:
                    - string
                    - 'null'
                required:
                - status
                - token
                - bindingId
                - claimComplete
                - hasChairman
                - flat
                - message
        '400':
          description: Неверные данные запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Нет прав
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Конфликт состояния
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Слишком часто
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - bearerAuth: []
      - cookieAuth: []
      - {}
  /api/bills/{billId}/paid:
    post:
      tags:
      - Житель
      summary: Отметить начисление оплаченным
      description: 'Отметка жителя: приложение не видит платёж, это его дневник.'
      operationId: post_api_bills_billId_paid
      parameters:
      - name: billId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    const: ok
                  billStatus:
                    type: string
                required:
                - status
                - billStatus
        '400':
          description: Неверные данные запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Нет прав
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                paid:
                  type: boolean
                kopecks:
                  type: integer
  /api/bills/{billId}/pay-qr:
    post:
      tags:
      - Житель
      summary: Ссылка на QR для оплаты
      description: Подписанная ссылка на картинку QR квитанции на 15 минут — только тому, кто принёс квитанцию.
      operationId: post_api_bills_billId_pay_qr
      parameters:
      - name: billId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type:
                    - string
                    - 'null'
                  fileName:
                    type:
                    - string
                    - 'null'
                required:
                - url
                - fileName
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Нет прав
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/bills/{billId}/qr.png:
    get:
      tags:
      - Житель
      summary: Картинка QR квитанции
      description: По подписанной ссылке из pay-qr.
      operationId: get_api_bills_billId_qr_png
      parameters:
      - name: billId
        in: path
        required: true
        schema:
          type: string
      - name: t
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Успех
          content:
            image/png:
              schema:
                type: string
                format: binary
        '403':
          description: Нет прав
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
  /api/bot/drafts/{id}:
    get:
      tags:
      - Обращения
      summary: Черновик обращения от бота
      description: Текст и категория, которые бот MAX или Домовой подготовили по словам жителя.
      operationId: get_api_bot_drafts_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  propertyId:
                    type:
                    - string
                    - 'null'
                  category:
                    type:
                    - string
                    - 'null'
                  text:
                    type:
                    - string
                    - 'null'
                required:
                - propertyId
                - category
                - text
        '401':
          description: Нужен вход
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/chairman/claims:
    get:
      tags:
      - Председатель
      summary: Запросы на подтверждение
      description: Кто ждёт подтверждения квартиры, с расхождениями адреса.
      operationId: get_api_chairman_claims
      parameters:
      - name: houseKey
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: number
                  claims:
                    type: array
                    items:
                      type: object
                      properties:
                        bindingId:
                          type:
                          - string
                          - 'null'
                        propertyId:
                          type:
                          - string
                          - 'null'
                        houseKey:
                          type:
                          - string
                          - 'null'
                        address:
                          type:
                          - string
                          - 'null'
                        flat:
                          type:
                          - string
                          - 'null'
                        claimedFlat:
                          type:
                          - string
                          - 'null'
                        claimedName:
                          type:
                          - string
                          - 'null'
                        claimedPhone: {}
                        note:
                          type:
                          - string
                          - 'null'
                        accountName:
                          type:
                          - string
                          - 'null'
                        viaMax:
                          type:
                          - boolean
                          - 'null'
                        phoneVerified:
                          type:
                          - boolean
                          - 'null'
                        requestedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        complete:
                          type:
                          - boolean
                          - 'null'
                      required:
                      - bindingId
                      - propertyId
                      - houseKey
                      - address
                      - flat
                      - claimedFlat
                      - claimedName
                      - claimedPhone
                      - note
                      - accountName
                      - viaMax
                      - phoneVerified
                      - requestedAt
                      - complete
                required:
                - total
                - claims
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/chairman/claims/{id}/approve:
    post:
      tags:
      - Председатель
      summary: Подтвердить жителя
      description: 'Житель получает уровень 1: соседи, лента, опросы.'
      operationId: post_api_chairman_claims_id_approve
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type:
                  - string
                  - 'null'
                houseKey:
                  type:
                  - string
                  - 'null'
              required:
              - role
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  role:
                    type:
                    - string
                    - 'null'
                required:
                - status
                - role
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Конфликт состояния
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/chairman/claims/{id}/reject:
    post:
      tags:
      - Председатель
      summary: Отклонить запрос
      description: С причиной.
      operationId: post_api_chairman_claims_id_reject
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type:
                  - string
                  - 'null'
              required:
              - reason
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                - status
        '400':
          description: Неверные данные запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/chairman/contacts:
    get:
      tags:
      - Председатель
      summary: Телефоны дома
      operationId: get_api_chairman_contacts
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  kinds:
                    type: array
                    items:
                      type: object
                      properties:
                        kind:
                          type:
                          - string
                          - 'null'
                        label:
                          type:
                          - string
                          - 'null'
                      required:
                      - kind
                      - label
                  contacts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        kind:
                          type:
                          - string
                          - 'null'
                        title:
                          type:
                          - string
                          - 'null'
                        phone:
                          type:
                          - string
                          - 'null'
                        note: {}
                        updatedByRole:
                          type:
                          - string
                          - 'null'
                        updatedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                      required:
                      - id
                      - kind
                      - title
                      - phone
                      - note
                      - updatedByRole
                      - updatedAt
                required:
                - kinds
                - contacts
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Председатель
      summary: Добавить телефон дома
      operationId: post_api_chairman_contacts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                houseKey:
                  type:
                  - string
                  - 'null'
                kind:
                  type:
                  - string
                  - 'null'
                phone:
                  type:
                  - string
                  - 'null'
                note:
                  type:
                  - string
                  - 'null'
              required:
              - houseKey
              - kind
              - phone
              - note
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  id:
                    type: string
                required:
                - status
                - id
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Нет прав
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/chairman/contacts/{id}/remove:
    post:
      tags:
      - Председатель
      summary: Убрать телефон дома
      operationId: post_api_chairman_contacts_id_remove
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                houseKey:
                  type:
                  - string
                  - 'null'
              required:
              - houseKey
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type:
                    - boolean
                    - 'null'
                required:
                - ok
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/chairman/house:
    get:
      tags:
      - Председатель
      summary: Дом целиком
      description: 'Уровень доступа 2: квартиры, жители, покрытие.'
      operationId: get_api_chairman_house
      parameters:
      - name: houseKey
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  houseKey:
                    type:
                    - string
                    - 'null'
                  address:
                    type:
                    - string
                    - 'null'
                  flats:
                    type: array
                    items:
                      type: object
                      properties:
                        propertyId:
                          type:
                          - string
                          - 'null'
                        flat:
                          type:
                          - string
                          - 'null'
                        address:
                          type:
                          - string
                          - 'null'
                        residents:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type:
                                - string
                                - 'null'
                              role:
                                type:
                                - string
                                - 'null'
                              viaMax:
                                type:
                                - boolean
                                - 'null'
                            required:
                            - name
                            - role
                            - viaMax
                        accounts:
                          type: array
                          items:
                            type: object
                            properties:
                              persAcc:
                                type:
                                - string
                                - 'null'
                              service:
                                type:
                                - string
                                - 'null'
                              provider:
                                type:
                                - string
                                - 'null'
                            required:
                            - persAcc
                            - service
                            - provider
                        payment:
                          type: object
                          properties:
                            state:
                              type:
                              - string
                              - 'null'
                            period:
                              type:
                              - string
                              - 'null'
                            paidCount:
                              type:
                              - number
                              - 'null'
                            totalCount:
                              type:
                              - number
                              - 'null'
                          required:
                          - state
                          - period
                          - paidCount
                          - totalCount
                        meters:
                          type: array
                          items:
                            type: object
                            properties:
                              kind:
                                type:
                                - string
                                - 'null'
                              label:
                                type:
                                - string
                                - 'null'
                              unit:
                                type:
                                - string
                                - 'null'
                              lastValue: {}
                              lastPeriod: {}
                              submittedThisPeriod:
                                type:
                                - boolean
                                - 'null'
                            required:
                            - kind
                            - label
                            - unit
                            - lastValue
                            - lastPeriod
                            - submittedThisPeriod
                      required:
                      - propertyId
                      - flat
                      - address
                      - residents
                      - accounts
                      - payment
                      - meters
                  totals:
                    type: object
                    properties:
                      flats:
                        type:
                        - number
                        - 'null'
                      registered:
                        type:
                        - number
                        - 'null'
                      paid:
                        type:
                        - number
                        - 'null'
                      due:
                        type:
                        - number
                        - 'null'
                      overdue:
                        type:
                        - number
                        - 'null'
                      unknown:
                        type:
                        - number
                        - 'null'
                      metersSubmitted:
                        type:
                        - number
                        - 'null'
                    required:
                    - flats
                    - registered
                    - paid
                    - due
                    - overdue
                    - unknown
                    - metersSubmitted
                  period:
                    type:
                    - string
                    - 'null'
                  disclaimer:
                    type:
                    - string
                    - 'null'
                required:
                - houseKey
                - address
                - flats
                - totals
                - period
                - disclaimer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Нет прав
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/chairman/me:
    get:
      tags:
      - Председатель
      summary: Я председатель?
      description: Дома, где житель — председатель совета, и число дел.
      operationId: get_api_chairman_me
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  isChairman:
                    type:
                    - boolean
                    - 'null'
                  name:
                    type:
                    - string
                    - 'null'
                  houses:
                    type: array
                    items:
                      type: object
                      properties:
                        chairmanId:
                          type:
                          - string
                          - 'null'
                        houseKey:
                          type:
                          - string
                          - 'null'
                        houseLabel:
                          type:
                          - string
                          - 'null'
                        ukId:
                          type:
                          - string
                          - 'null'
                        pendingClaims:
                          type:
                          - number
                          - 'null'
                        awaitingRequests:
                          type:
                          - number
                          - 'null'
                      required:
                      - chairmanId
                      - houseKey
                      - houseLabel
                      - ukId
                      - pendingClaims
                      - awaitingRequests
                required:
                - isChairman
                - houses
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/chairman/polls:
    get:
      tags:
      - Председатель
      summary: Опросы председателя
      operationId: get_api_chairman_polls
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  polls:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        houseKey:
                          type:
                          - string
                          - 'null'
                        title:
                          type:
                          - string
                          - 'null'
                        description: {}
                        closesAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        closed:
                          type:
                          - boolean
                          - 'null'
                        total:
                          type: number
                        byChairman:
                          type:
                          - boolean
                          - 'null'
                        options:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              text:
                                type:
                                - string
                                - 'null'
                              votes:
                                type:
                                - number
                                - 'null'
                            required:
                            - id
                            - text
                            - votes
                      required:
                      - id
                      - houseKey
                      - title
                      - description
                      - closesAt
                      - closed
                      - total
                      - byChairman
                      - options
                required:
                - polls
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Председатель
      summary: Создать опрос
      operationId: post_api_chairman_polls
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type:
                  - string
                  - 'null'
                options:
                  type: array
                  items:
                    type: string
              required:
              - title
              - options
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  id:
                    type: string
                required:
                - status
                - id
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/chairman/posts:
    get:
      tags:
      - Председатель
      summary: Объявления председателя
      operationId: get_api_chairman_posts
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        houseKey:
                          type:
                          - string
                          - 'null'
                        type:
                          type:
                          - string
                          - 'null'
                        category:
                          type:
                          - string
                          - 'null'
                        title:
                          type:
                          - string
                          - 'null'
                        body:
                          type:
                          - string
                          - 'null'
                        publishedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        expiresAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        removedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        chairmanName: {}
                        categoryLabel:
                          type:
                          - string
                          - 'null'
                        expired:
                          type:
                          - boolean
                          - 'null'
                        removed:
                          type:
                          - boolean
                          - 'null'
                        author:
                          type:
                          - string
                          - 'null'
                      required:
                      - id
                      - houseKey
                      - type
                      - category
                      - title
                      - body
                      - publishedAt
                      - expiresAt
                      - removedAt
                      - chairmanName
                      - categoryLabel
                      - expired
                      - removed
                      - author
                  total:
                    type: number
                required:
                - posts
                - total
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Председатель
      summary: Опубликовать объявление
      description: Собрание, отключение, новость.
      operationId: post_api_chairman_posts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type:
                  - string
                  - 'null'
                title:
                  type:
                  - string
                  - 'null'
                body:
                  type:
                  - string
                  - 'null'
              required:
              - category
              - title
              - body
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  id:
                    type: string
                  notified:
                    type:
                    - number
                    - 'null'
                required:
                - status
                - id
                - notified
        '400':
          description: Неверные данные запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Нет прав
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/chairman/posts/{id}:
    delete:
      tags:
      - Председатель
      summary: Снять объявление
      operationId: delete_api_chairman_posts_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                - status
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/chairman/requests:
    get:
      tags:
      - Председатель
      summary: Обращения дома
      description: Все обращения жителей дома — чтобы видеть, что делает УК.
      operationId: get_api_chairman_requests
      parameters:
      - name: tab
        in: query
        required: false
        schema:
          type: string
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  counts:
                    type: object
                    properties:
                      open:
                        type:
                        - number
                        - 'null'
                      all:
                        type:
                        - number
                        - 'null'
                    required:
                    - open
                    - all
                  total:
                    type: number
                  requests:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        number:
                          type: string
                        kind:
                          type:
                          - string
                          - 'null'
                        category:
                          type:
                          - string
                          - 'null'
                        title:
                          type:
                          - string
                          - 'null'
                        status:
                          type: string
                        statusLabel:
                          type:
                          - string
                          - 'null'
                        closed:
                          type:
                          - boolean
                          - 'null'
                        sla:
                          type:
                          - string
                          - 'null'
                        slaLabel:
                          type:
                          - string
                          - 'null'
                        flat:
                          type:
                          - string
                          - 'null'
                        authorName:
                          type:
                          - string
                          - 'null'
                        createdAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        lastMessage:
                          type:
                          - object
                          - 'null'
                          properties:
                            text:
                              type:
                              - string
                              - 'null'
                            actor:
                              type:
                              - string
                              - 'null'
                            actorName:
                              type:
                              - string
                              - 'null'
                            at:
                              type:
                              - string
                              - 'null'
                              format: date-time
                          required:
                          - text
                          - actor
                          - actorName
                          - at
                      required:
                      - id
                      - number
                      - kind
                      - category
                      - title
                      - status
                      - statusLabel
                      - closed
                      - sla
                      - slaLabel
                      - flat
                      - authorName
                      - createdAt
                      - lastMessage
                required:
                - counts
                - total
                - requests
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Нет прав
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/chairman/requests/{id}:
    get:
      tags:
      - Председатель
      summary: Карточка обращения
      operationId: get_api_chairman_requests_id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  number:
                    type: string
                  kind:
                    type:
                    - string
                    - 'null'
                  category:
                    type:
                    - string
                    - 'null'
                  title:
                    type:
                    - string
                    - 'null'
                  description:
                    type:
                    - string
                    - 'null'
                  status:
                    type: string
                  statusLabel:
                    type:
                    - string
                    - 'null'
                  closed:
                    type:
                    - boolean
                    - 'null'
                  sla:
                    type:
                    - string
                    - 'null'
                  slaLabel:
                    type:
                    - string
                    - 'null'
                  flat:
                    type:
                    - string
                    - 'null'
                  authorName:
                    type:
                    - string
                    - 'null'
                  assigneeName: {}
                  rejectReason: {}
                  createdAt:
                    type:
                    - string
                    - 'null'
                    format: date-time
                  closedAt:
                    type:
                    - string
                    - 'null'
                    format: date-time
                  hasOrg:
                    type:
                    - boolean
                    - 'null'
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type:
                          - string
                          - 'null'
                        actor:
                          type:
                          - string
                          - 'null'
                        actorName: {}
                        type:
                          type:
                          - string
                          - 'null'
                        at:
                          type:
                          - string
                          - 'null'
                          format: date-time
                      required:
                      - text
                      - actor
                      - actorName
                      - type
                      - at
                  photos:
                    type: array
                    items: {}
                required:
                - id
                - number
                - kind
                - category
                - title
                - description
                - status
                - statusLabel
                - closed
                - sla
                - slaLabel
                - flat
                - authorName
                - assigneeName
                - rejectReason
                - createdAt
                - closedAt
                - hasOrg
                - events
                - photos
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Нет прав
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/chairman/requests/{id}/comment:
    post:
      tags:
      - Председатель
      summary: Комментарий к обращению
      description: Реплика председателя в переписке.
      operationId: post_api_chairman_requests_id_comment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type:
                  - string
                  - 'null'
              required:
              - text
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                - status
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Нет прав
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Конфликт состояния
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/chairman/requests/{id}/files/{fileId}:
    get:
      tags:
      - Председатель
      summary: Вложение обращения
      operationId: get_api_chairman_requests_id_files_fileId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: fileId
        in: path
        required: true
        schema:
          type: string
      - name: houseKey
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Успех
          content:
            image/png:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/config:
    get:
      tags:
      - Служебное
      summary: Настройки для фронта
      description: 'Открыт. Флаги, нужные приложению до входа: включён ли вход из браузера, включён ли демо-дом.'
      operationId: get_api_config
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  demoEnabled:
                    type:
                    - boolean
                    - 'null'
                  devTools:
                    type:
                    - boolean
                    - 'null'
                  webLogin:
                    type:
                    - boolean
                    - 'null'
                  maxEnabled:
                    type:
                    - boolean
                    - 'null'
                  botUsername:
                    type:
                    - string
                    - 'null'
                required:
                - demoEnabled
                - devTools
                - webLogin
                - maxEnabled
                - botUsername
      security: []
  /api/demo/roles:
    get:
      tags:
      - Вход
      summary: Роли демо-дома
      description: 'Открыт. Персонажи демо-дома для проверки без квитанции: председатель, собственники, жилец, новичок.
        404, если демо выключено.'
      operationId: get_api_demo_roles
      parameters:
      - $ref: '#/components/parameters/MaxInitData'
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                        title:
                          type:
                          - string
                          - 'null'
                        subtitle:
                          type:
                          - string
                          - 'null'
                        avatar:
                          type:
                          - string
                          - 'null'
                        holderName: {}
                        heldSince: {}
                        mine:
                          type:
                          - boolean
                          - 'null'
                      required:
                      - key
                      - title
                      - subtitle
                      - avatar
                      - holderName
                      - heldSince
                      - mine
                  released: {}
                  inMax:
                    type:
                    - boolean
                    - 'null'
                required:
                - roles
                - released
                - inMax
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
  /api/demo/roles/{key}/take:
    post:
      tags:
      - Вход
      summary: Войти ролью демо-дома
      description: 'Тестовая учётная запись для проверки. Без подписи MAX — обычная сессия персонажа. Возвращает
        token для заголовка Authorization: Bearer.'
      operationId: post_api_demo_roles_key_take
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/MaxInitData'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                required:
                - token
        '409':
          description: Конфликт состояния
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
  /api/dispatcher/accounts:
    get:
      tags:
      - Кабинет УК
      summary: Лицевые счета
      description: Квартиры, счета, жители, сверка адресов, указанных жителями.
      operationId: get_api_dispatcher_accounts
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: number
                  registered:
                    type:
                    - number
                    - 'null'
                  accounts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        propertyId:
                          type:
                          - string
                          - 'null'
                        flat:
                          type:
                          - string
                          - 'null'
                        address:
                          type:
                          - string
                          - 'null'
                        houseKey:
                          type:
                          - string
                          - 'null'
                        addressSource:
                          type:
                          - string
                          - 'null'
                        addressVerified:
                          type:
                          - boolean
                          - 'null'
                        accounts:
                          type: array
                          items:
                            type: object
                            properties:
                              persAcc:
                                type:
                                - string
                                - 'null'
                              service:
                                type:
                                - string
                                - 'null'
                              provider:
                                type:
                                - string
                                - 'null'
                            required:
                            - persAcc
                            - service
                            - provider
                        residents:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type:
                                - string
                                - 'null'
                              role:
                                type:
                                - string
                                - 'null'
                            required:
                            - name
                            - role
                        registered:
                          type:
                          - boolean
                          - 'null'
                      required:
                      - id
                      - propertyId
                      - flat
                      - address
                      - houseKey
                      - addressSource
                      - addressVerified
                      - accounts
                      - residents
                      - registered
                required:
                - total
                - registered
                - accounts
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/dispatcher/chairman-candidates:
    get:
      tags:
      - Кабинет УК
      summary: Кандидаты в председатели
      description: Жители дома, включая неподтверждённых.
      operationId: get_api_dispatcher_chairman_candidates
      parameters:
      - name: houseKey
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  candidates:
                    type: array
                    items:
                      type: object
                      properties:
                        userId:
                          type:
                          - string
                          - 'null'
                        name:
                          type:
                          - string
                          - 'null'
                        claimedName: {}
                        flat:
                          type:
                          - string
                          - 'null'
                        status:
                          type: string
                        viaMax:
                          type:
                          - boolean
                          - 'null'
                        phoneVerified:
                          type:
                          - boolean
                          - 'null'
                        since:
                          type:
                          - string
                          - 'null'
                          format: date-time
                      required:
                      - userId
                      - name
                      - claimedName
                      - flat
                      - status
                      - viaMax
                      - phoneVerified
                      - since
                required:
                - candidates
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/dispatcher/chairmen:
    get:
      tags:
      - Кабинет УК
      summary: Председатели домов
      operationId: get_api_dispatcher_chairmen
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  chairmen:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        houseKey:
                          type:
                          - string
                          - 'null'
                        name:
                          type:
                          - string
                          - 'null'
                        flat:
                          type:
                          - string
                          - 'null'
                        phone: {}
                        viaMax:
                          type:
                          - boolean
                          - 'null'
                        createdAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        revokedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        active:
                          type:
                          - boolean
                          - 'null'
                      required:
                      - id
                      - houseKey
                      - name
                      - flat
                      - phone
                      - viaMax
                      - createdAt
                      - revokedAt
                      - active
                required:
                - chairmen
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Кабинет УК
      summary: Назначить председателя
      description: Разовое действие УК.
      operationId: post_api_dispatcher_chairmen
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                houseKey:
                  type:
                  - string
                  - 'null'
                userId:
                  type:
                  - string
                  - 'null'
              required:
              - houseKey
              - userId
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  id:
                    type: string
                  name:
                    type:
                    - string
                    - 'null'
                required:
                - status
                - id
                - name
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Нет прав
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Конфликт состояния
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/dispatcher/chairmen/{id}/revoke:
    post:
      tags:
      - Кабинет УК
      summary: Снять председателя
      operationId: post_api_dispatcher_chairmen_id_revoke
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                required:
                - status
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/dispatcher/claims:
    get:
      tags:
      - Кабинет УК
      summary: Запросы на подтверждение
      description: 'УК — наблюдатель: подтверждает только председатель.'
      operationId: get_api_dispatcher_claims
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: number
                  claims:
                    type: array
                    items:
                      type: object
                      properties:
                        bindingId:
                          type:
                          - string
                          - 'null'
                        propertyId:
                          type:
                          - string
                          - 'null'
                        houseKey:
                          type:
                          - string
                          - 'null'
                        address:
                          type:
                          - string
                          - 'null'
                        flat:
                          type:
                          - string
                          - 'null'
                        claimedFlat:
                          type:
                          - string
                          - 'null'
                        claimedName:
                          type:
                          - string
                          - 'null'
                        claimedPhone: {}
                        note: {}
                        accountName:
                          type:
                          - string
                          - 'null'
                        viaMax:
                          type:
                          - boolean
                          - 'null'
                        phoneVerified:
                          type:
                          - boolean
                          - 'null'
                        requestedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        complete:
                          type:
                          - boolean
                          - 'null'
                      required:
                      - bindingId
                      - propertyId
                      - houseKey
                      - address
                      - flat
                      - claimedFlat
                      - claimedName
                      - claimedPhone
                      - note
                      - accountName
                      - viaMax
                      - phoneVerified
                      - requestedAt
                      - complete
                  needChairman:
                    type: array
                    items:
                      type: object
                      properties:
                        houseKey:
                          type:
                          - string
                          - 'null'
                        address:
                          type:
                          - string
                          - 'null'
                        waiting:
                          type:
                          - number
                          - 'null'
                        hasChairman:
                          type:
                          - boolean
                          - 'null'
                      required:
                      - houseKey
                      - address
                      - waiting
                      - hasChairman
                required:
                - total
                - claims
                - needChairman
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/dispatcher/houses:
    get:
      tags:
      - Кабинет УК
      summary: Дома УК
      description: Жилищный фонд из реестра и добавленные вручную.
      operationId: get_api_dispatcher_houses
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  organization:
                    type: object
                    properties:
                      name:
                        type:
                        - string
                        - 'null'
                      inn:
                        type:
                        - string
                        - 'null'
                      licenseNumber:
                        type:
                        - string
                        - 'null'
                      houseCountByLicense:
                        type:
                        - number
                        - 'null'
                    required:
                    - name
                    - inn
                    - licenseNumber
                    - houseCountByLicense
                  total:
                    type: number
                  withResidents:
                    type:
                    - number
                    - 'null'
                  houses:
                    type: array
                    items:
                      type: object
                      properties:
                        houseKey:
                          type:
                          - string
                          - 'null'
                        address:
                          type:
                          - string
                          - 'null'
                        flatCount: {}
                        gisHouseGuid: {}
                        linkedProperties:
                          type:
                          - number
                          - 'null'
                        rating: {}
                        reviews:
                          type:
                          - number
                          - 'null'
                      required:
                      - houseKey
                      - address
                      - flatCount
                      - gisHouseGuid
                      - linkedProperties
                      - rating
                      - reviews
                required:
                - organization
                - total
                - withResidents
                - houses
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Кабинет УК
      summary: Добавить дом вручную
      description: Реестры узнают о смене УК с опозданием.
      operationId: post_api_dispatcher_houses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type:
                  - string
                  - 'null'
              required:
              - address
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  houseKey:
                    type:
                    - string
                    - 'null'
                  alreadyMine:
                    type:
                    - boolean
                    - 'null'
                required:
                - status
                - houseKey
                - alreadyMine
        '400':
          description: Неверные данные запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: Конфликт состояния
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/dispatcher/houses/{houseKey}/contacts:
    get:
      tags:
      - Кабинет УК
      summary: Телефоны дома
      operationId: get_api_dispatcher_houses_houseKey_contacts
      parameters:
      - name: houseKey
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  kinds:
                    type: array
                    items:
                      type: object
                      properties:
                        kind:
                          type:
                          - string
                          - 'null'
                        label:
                          type:
                          - string
                          - 'null'
                      required:
                      - kind
                      - label
                  contacts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        kind:
                          type:
                          - string
                          - 'null'
                        title:
                          type:
                          - string
                          - 'null'
                        phone:
                          type:
                          - string
                          - 'null'
                        note: {}
                        updatedByRole:
                          type:
                          - string
                          - 'null'
                        updatedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                      required:
                      - id
                      - kind
                      - title
                      - phone
                      - note
                      - updatedByRole
                      - updatedAt
                required:
                - kinds
                - contacts
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Кабинет УК
      summary: Добавить телефон дома
      operationId: post_api_dispatcher_houses_houseKey_contacts
      parameters:
      - name: houseKey
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                kind:
                  type:
                  - string
                  - 'null'
                phone:
                  type:
                  - string
                  - 'null'
              required:
              - kind
              - phone
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  id:
                    type: string
                required:
                - status
                - id
        '400':
          description: Неверные данные запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Нет прав
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/dispatcher/houses/{houseKey}/contacts/{id}/remove:
    post:
      tags:
      - Кабинет УК
      summary: Убрать телефон дома
      operationId: post_api_dispatcher_houses_houseKey_contacts_id_remove
      parameters:
      - name: houseKey
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                required:
                - ok
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Нет прав
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/dispatcher/login:
    post:
      tags:
      - Кабинет УК
      summary: Вход диспетчера УК
      description: 'Логин и пароль кабинета. Возвращает token для Authorization: Bearer.'
      operationId: post_api_dispatcher_login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                login:
                  type:
                  - string
                  - 'null'
                password:
                  type:
                  - string
                  - 'null'
              required:
              - login
              - password
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  token:
                    type: string
                  name:
                    type:
                    - string
                    - 'null'
                required:
                - status
                - token
                - name
        '401':
          description: Нужен вход
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Слишком часто
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
  /api/dispatcher/logout:
    post:
      tags:
      - Кабинет УК
      summary: Выход диспетчера
      operationId: post_api_dispatcher_logout
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    const: ok
                required:
                - status
      security: []
  /api/dispatcher/me:
    get:
      tags:
      - Кабинет УК
      summary: Текущий диспетчер
      operationId: get_api_dispatcher_me
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  ukId:
                    type: string
                required:
                - id
                - name
                - ukId
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/dispatcher/polls:
    get:
      tags:
      - Кабинет УК
      summary: Опросы УК
      operationId: get_api_dispatcher_polls
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  polls:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        houseKey:
                          type:
                          - string
                          - 'null'
                        title:
                          type:
                          - string
                          - 'null'
                        description: {}
                        closesAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        closed:
                          type:
                          - boolean
                          - 'null'
                        total:
                          type: number
                        byChairman:
                          type:
                          - boolean
                          - 'null'
                        options:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              text:
                                type:
                                - string
                                - 'null'
                              votes:
                                type:
                                - number
                                - 'null'
                            required:
                            - id
                            - text
                            - votes
                      required:
                      - id
                      - houseKey
                      - title
                      - description
                      - closesAt
                      - closed
                      - total
                      - byChairman
                      - options
                required:
                - polls
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Кабинет УК
      summary: Создать опрос
      operationId: post_api_dispatcher_polls
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                houseKey:
                  type:
                  - string
                  - 'null'
                title:
                  type:
                  - string
                  - 'null'
                options:
                  type: array
                  items:
                    type: string
              required:
              - houseKey
              - title
              - options
      responses:
        '201':
          description: Создано
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  id:
                    type: string
                required:
                - status
                - id
        '400':
          description: Неверные данные запроса
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/dispatcher/posts:
    get:
      tags:
      - Кабинет УК
      summary: Объявления УК
      operationId: get_api_dispatcher_posts
      responses:
        '200':
          description: Успех
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        houseKey:
                          type:
                          - string
                          - 'null'
                        type:
                          type:
                          - string
                          - 'null'
                        category:
                          type:
                          - string
                          - 'null'
                        title:
                          type:
                          - string
                          - 'null'
                        body:
                          type:
                          - string
                          - 'null'
                        publishedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        expiresAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        removedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                        chairmanName: {}
                        categoryLabel:
                          type:
                          - string
                          - 'null'
                        expired:
                          type:
                          - boolean
                          - 'null'
                        removed:
                          type:
                          - boolean
                          - 'null'
                        author:
                          type:
                          - string
                          - 'null'
                      required:
                      - id
                      - houseKey
                      - type
                      - category
                      - title
                      - body
                      - publishedAt
                      - expiresAt
                      - removedAt
                      - chairmanName
                      - categoryLabel
                      - expired
                      - removed
                      - author
                  total:
                    type: number
                required:
                - posts
                - total
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Кабинет УК
      summary: Опубликовать объявление
      description: Отключение, собрание, новость — в один или несколько домов.
      operationId: post_api_dispatcher_posts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                houseKey:
                  type:
                  - string
                  - 'null'
                category:
                  type:
                  - string
                  - 'null'
                title:
                  type:
                  - string
                  - 'null'
                body:
                  type:
                  - string
                  - 'null'
                expiresAt:
                  type:
                  - string
                  - 'null'
                  format: date-time
              required:
              - houseKey
              - category
              - title
              - body
      responses:
        '201':
[...]
